doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="style.css")
  body
    include ./blocks/header/header.jade
    .main__content
      include ./blocks/navigation/navigation.jade
      include ./blocks/interactive/interactive.jade
