doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
  body
    include ./blocks/header/header.jade
    .mainContent
      include ./blocks/navigation/navigation.jade
      include ./blocks/interactive/interactive.jade
      include ./blocks/about/about.jade
      include ./blocks/statistics/statistics.jade
