@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700'
@import 'assets/grid.styl'
@import 'particles/index.styl'
@import 'blocks/header/header.styl'
@import 'blocks/navigation/navigation.styl'
// @import 'blocks/interactive'
// @import 'blocks/about'
// @import 'blocks/advertising/'
// @import 'blocks/contacts/'
// @import 'blocks/footer/'
*
  box-sizing border-box
html
  font-family: 'Source Sans Pro', sans-serif;
  font-size 17pt
  color rgba(white, 0.65)
body
  background -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%)
  background -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%)
  background linear-gradient(45deg, #e37682 15%, #5f4d93 85%)
  margin 0

.main__content
  width 64rem
  max-width 95%
  background-color white
  color #636363
  margin 0 auto
  border-top-left-radius 0.5rem
  border-top-right-radius 0.5rem