.mainHeader
  padding 7rem 5rem 4rem 5rem
  text-align center
  font-weight 300
  &__logo
    display block
    margin 0 auto
  &__heading
    font-weight 300
    color white
    font-size 3.25rem
    margin 2rem 0 1rem
  &__text
    font-size 1.25rem
    margin 0 0 3rem
    line-height 2rem