header.mainHeader
  img.mainHeader__logo(src='./assets/logo.svg').
  h1.mainHeader__heading Stellar
  p.mainHeader__text Just another free, fully responsive site template <br> built by 
    <a class='link' href='#'>@ajlkn</a> for 
    a.link(href='#') HTML5 UP.