section.statistics
  header.sectionHeader_center
    h2.sectionHeader__caption Ipsum consequat
    hr.sectionHeader__underline
    p.sectionHeader__description Donec imperdiet consequat consequat. Suspendisse feugiat congue <br>posuere. Nulla massa urna, fermentum eget quam aliquet.
  ul.statisticBoard
    li.statisticBoard__item.statisticBoard__item_pink
      i.fa.fa-code-fork(aria-hidden="true")
      h4.statisticBoard__value 5,120
      p.statisticBoard__description Etiam
    li.statisticBoard__item.statisticBoard__item_purple
      i.fa.fa-folder-open-o(aria-hidden="true")
      h4.statisticBoard__value 8,192
      p.statisticBoard__description Magna
    li.statisticBoard__item.statisticBoard__item_lilac
      i.fa.fa-signal(aria-hidden="true")
      h4.statisticBoard__value 2,048
      p.statisticBoard__description Tempus
    li.statisticBoard__item.statisticBoard__item_blue
      i.fa.fa-laptop(aria-hidden="true")
      h4.statisticBoard__value 4,096
      p.statisticBoard__description Aliquam
    li.statisticBoard__item.statisticBoard__item_lightblue
      i.fa.fa-diamond(aria-hidden="true")
      h4.statisticBoard__value 1,024
      p.statisticBoard__description Nullam
  p.statistics__description Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.
  .statistics__item
    a.button.statistics__item(href='#') Learn More