.mainNav
  position sticky
  background-color #f7f7f7
  border-top-left-radius 0.35rem
  border-top-right-radius 0.35rem
  text-align center
  display block
  padding 1.5rem
  &__item
    display inline-block
    margin 0 0.35rem