.mainNav
  position sticky
  background-color #f7f7f7
  border-top-left-radius 0.5rem
  border-top-right-radius 0.5rem
  text-align center
  display block
  padding 1rem
  &__list
    display block
    list-style none
  &__item
    display inline-block
    margin 1rem