nav.mainNav
  li.mainNav__item
    a.mainNav__link(href="#") Introduction
  li.mainNav__item
    a.mainNav__link(href="#") First Section
  li.mainNav__item
    a.mainNav__link(href="#") Second Section
  li.mainNav__item
    a.mainNav__link(href="#") Get Started